* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: groove;
}

.productbox1 {
  display: flex;
  width: 15%; /*use percentages*/
  height: 15%;
}

.productbox2 {
  display: flex;
  width: 15%;
  height: 15%;
}

.productbox3 {
  display: flex;
  width: 15%;
  height: 15%;
}

.productbox > img {
  width: auto;
  height: 200px;
  margin: auto;
  border-style: solid;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin: none;
}

button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 1em;
  border-radius: 10px;
}

#results {
  display: flex;
  justify-content: center;
}

.adminfunctions {
  border-style: solid;
  margin: none;
}
