* {
  font-family: sans-serif;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: groove;
}

.productbox1 {
  display: flex;
  width: 20%; /*use percentages*/
  height: 20%;
}

.productbox2 {
  display: flex;
  width: 20%;
  height: 20%;
}

.productbox3 {
  display: flex;
  width: 20%;
  height: 20%;
}

.productbox > img {
  width: 200px;
  height: auto;
  margin: auto;
  border-style: solid;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#results {
  display: flex;
  justify-content: center;
}
